@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" style="width=30%">
        <h1 class="display-4">Easy Peasy Currency Converter</h1>
        <form>
            <label for="baseCurrency">From:</label>
            <input type="text" id="baseCurrency" name="baseCurrency"><br>
            <label for="endCurrency">To:</label>
            <input type="text" id="endCurrency" name="to"><br><br>
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount"><br><br>
            <label for="date">Date:</label>
            <input type="text" id="date" name="date"><br><br>
        </form>
        <button>Calculate</button>

    </div>
